<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Blogs" nzIcon="tablet">
        <ul>
            <li nz-menu-item>
                <a routerLink="/admin/blogs/new">Created</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/admin/blogs">List</a>
            </li>
            <li nz-menu-item>
                <a href="">Hiden</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="My Project" nzIcon="menu">
        <ul>
            <li nz-menu-item>
                <a routerLink="/admin/projects/new">Created</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/admin/projects">List</a>
            </li>
            <li nz-menu-item>
                <a href="">Hiden</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Category" nzIcon="setting">
        <ul>
            <li nz-menu-item>
                <a routerLink="/admin/categorys/new">Created</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/admin/categorys">List</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/admin/categorys/new">Hiden</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
            <li nz-menu-item>
                <a routerLink="/admin/users/new">Created</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/admin/users">List</a>
            </li>
            <li nz-menu-item>
                <a href="">Hiden</a>
            </li>
        </ul>
    </li>
</ul>