<article class="projects__item">
    <div class="projects__item-image">
        <img src={{project.img}}
            alt="">
    </div>
    <div class="projects__item-detail">
        <h3 class="projects__item-detail-title">
            <a href="/my-works/{{project._id}}" class="projects__item-detail-title-link">{{project.title}}</a>
        </h3>
        <div class="projects__item-detail-time">
            <span>{{project.createdAt}}</span>
            <span>Dashboard</span>
        </div>
        <p class="projects__item-detail-desc">
            {{project.center}}
        </p>
    </div>
</article>