<header>
    <nav class="navbar">
        <div class="logo">
            <a routerLink="" class="brand">I'm
                <span class="brand-name">Long</span></a>
        </div>
        <ul class="main-menu">
            <li class="main-menu__item"><a routerLink="/"
                class="main-menu__link active">Home</a></li>
            <li class="main-menu__item"><a routerLink="/my-works"
                    class="main-menu__link">Work</a></li>
            <li class="main-menu__item"><a routerLink="/blogs"
                    class="main-menu__link">Blogs</a></li>
            <li class="main-menu__item"><a routerLink=""
                    class="main-menu__link">Contact</a></li>
        </ul>
        <div class="mobile">
            <input type="checkbox" id="menu__check">
            <label for="menu__check" class="open__menu"><i class="fi fi-br-menu-burger"></i></label>
            <ul class="mobile-menu">
                <label for="menu__check" class="close__menu"><i class="fi fi-br-cross"></i></label>
                <li class="mobile-menu__item"><a routerLink="/"
                    class="mobile-menu__link">Home</a></li>
                <li class="mobile-menu__item"><a routerLink="/my-works"
                        class="mobile-menu__link">Work</a></li>
                <li class="mobile-menu__item"><a routerLink="/blogs"
                        class="mobile-menu__link">Blogs</a></li>
                <li class="mobile-menu__item"><a routerLink=""
                        class="mobile-menu__link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>