<header>
    <nav class="navbar">
        <div class="logo">
            <a routerLink="" class="brand">I'm
                <span class="brand-name">Long</span></a>
        </div>
        <ul class="main-menu">
            <li class="main-menu__item"><a routerLink="/"
                class="main-menu__link active">Home</a></li>
            <li class="main-menu__item"><a routerLink="/my-works"
                    class="main-menu__link">Work</a></li>
            <li class="main-menu__item"><a routerLink="/blogs"
                    class="main-menu__link">Blogs</a></li>
            <li class="main-menu__item"><a routerLink=""
                    class="main-menu__link">Contact</a></li>
        </ul>
    </nav>
</header>