$primary : rgb(255, 106, 0);
.navbar {
    .logo {
        text-align: center;
        margin-bottom: 40px;
        .brand {
            font-size: 2.5rem;
            color: black;
            .brand-name {
                color: $primary;
            }
        }
    }
    margin-bottom: 4rem;
    .main-menu{
        justify-content: center;
        width: 40%;
        margin: auto;
        display: flex;
        list-style: none;
        .active::before{
            transform: scaleX(1);
            opacity: 1;
        }
        &__link{
            position: relative;
            &:hover::before{
                transform: scaleX(1);
                opacity: 1;
            }
            &::before {
                transition: 0.3s ease-in-out;
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: black;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                opacity: 0;
            }
            display:  inline-block;
            padding: 5px 20px;
            font-size: 20px;
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.mobile{
    display: none;
}
@media screen and (max-width:576px){
    body{
        overflow: hidden;
    }
    .navbar {
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: sticky;
        .logo{
            margin-bottom: 0;
            width: 40%;
            .brand {
                font-size: 2rem;
                color: black;
                .brand-name {
                    color: $primary;
                }
            }
        }
        .main-menu{
            display: none;
        }
        .mobile {
            display: block;
            #menu__check{
                display: none;
            }
            flex: 1;
            text-align: right;
            .open__menu{
                padding-right: 20px;
                margin-right: 0;
                border: none;
                cursor: pointer;
                background: none;
                font-size: 1.8rem;
            }
            .mobile-menu{
                width: 45%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: orange;
                list-style: none;
                display: none;
                transform: translateX(300px);
                transition: transform linear 0.3s;
                .active::before{
                    transform: scaleX(1);
                    opacity: 1;
                }
                &__item{
                    text-align: center;
                }
                &__link{
                    margin: 15px;
                    position: relative;
                    &:hover::before{
                        transform: scaleX(1);
                        opacity: 1;
                    }
                    &::before {
                        transition: 0.3s ease-in-out;
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: rgb(247, 247, 247);
                        left: 0;
                        bottom: 0;
                        transform: scaleX(0);
                        opacity: 0;
                    }
                    display:  inline-block;
                    padding: 5px 20px;
                    font-size: 20px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
        .open__menu,.close__menu{
            margin-right: 0;
            border: none;
            cursor: pointer;
            background: none;
            font-size: 1.2rem;
        }
        .close__menu{
            color: white;
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }
    #menu__check:checked ~ .mobile-menu {
        display: block;
        transform: translateX(0);
    }
}