.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 3px black solid;
    .sidebar {
        width: 25%;
    }
    .content {
        width: 73%;
    }
}