<section class="information">
    <div class="information__infor">
        <h2 class="information__infor-name">Hi everyone, I am Long,
            <span class="information__infor-name-tick"> Front End Developer</span>
        </h2>
        <p class="information__infor-desc">Amet minim mollit non deserunt
            ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat
            sunt nostrud amet.</p>
        <a target="_self" href="../../../assets/KHUAT-THANH-LONG-TopCV.vn-020622.172113.pdf" download="" class="btn btn__dowload">Download Resume</a>
    </div>
    <div class="information__avatar">
        <img class="information__avatar-image"
            src="https://cdn-imgix.headout.com/tour/28481/TOUR-IMAGE/2bbd5c6c-e3dc-4dc4-b4d5-11c94baad3e3-15133-dubai-combo-img-worlds-of-adventure---free-burj-khalifa-at-the-top-with-coffee-06.JPG"
            alt="">
    </div>
</section>
<section class="recent">
    <div class="title-recent">
        <h2 class="">Recent posts</h2>
        <a href="">View all</a>
    </div>
    <div class="posts" *ngIf="blogs">
        <app-blog-item [blog]="blogs[0]"></app-blog-item>
        <app-blog-item [blog]="blogs[1]"></app-blog-item>
        <!-- <app-blog-item></app-blog-item> -->

    </div>
</section>
<div class="my__work">
    <div class="title">
        <h2>
            My works
        </h2>
    </div>
    <section class="projects" *ngFor="let item of projects">
        <app-project-item [project]="item"></app-project-item>
    </section>
</div>