<div>
    <h2>Project Manager</h2>
    <div>
        <nz-table #basicTable [nzData]="projects">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Title</th>
                    <th>Mounting description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of projects, let i =index ">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.center}}</td>
                    <td>
                        <a nz-button routerLink="/admin/projects/{{item._id}}/update" nzType="dashed">Edit</a>
                        <button nz-button (click)="removeProject(item._id!)" nzType="primary">Remove</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>