.blog{
    padding: 0 10%;
}
.title {
    width: 80%;
    margin: auto;
    &__name {
        margin-bottom: 3rem;
        text-align:  center;
        font-size: 3.5rem;
    }
}
.information {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    :first-child {
        margin-right: 1.2rem;
        display: inline-block;
        padding: 10px 30px;
        background-color: black;
        color: white;
        border-radius:15px;
    }
}
.content{
    &__image {
        margin: 1rem 0;
        text-align: center;
        img {
            width: 100%;
        }
    }
    &__content {
        font-size: 1.3rem;
        line-height: 1.5;
    }
}
@media screen and (max-width:567px) {
    .title__name{
        font-size: 2rem;
    }
    .information {
        display: flex;
        align-items: center;
        font-size: 1rem;
        :first-child {
            margin-right: 2rem;
        }
    }
    .content{
        &__content {
            line-height: 1.5;
            font-size: 1.2rem;
        }
    }
}