<article class="blog" *ngIf="blog">
    <div class="title">
        <h1 class="title__name">{{blog.title}}</h1>
    </div>
    <div class="information">
        <span>{{blog.createdAt}}</span>
        <span>Dashboard, User Experience Design</span>
    </div>
    <div class="content">
        <figure class="content__image">
            <img src={{blog.img}}
                alt="">
        </figure>
        <p class="content__content">
            {{blog.center}}
        </p>
        <figure class="content__image">
            <img src="https://www.imgacademy.com/sites/default/files/2009-stadium-about.jpg"
                alt="">
        </figure>
        <p class="content__content">
            {{blog.description}}
        </p>
    </div>
</article>