.container {
    margin-top: 2rem;
    
}
.posts {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
@media screen and (max-width:567px){
    .container{
        width: 100%;
        padding: 0 5%;
    }
    .heading{
        padding-left: 2rem;
        font-size: 1.3rem;
    }
    .posts {
        grid-template-columns: 1fr;
    }
}